
:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}


*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;

}
body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

.heading{
    text-align: center;
    font-size: 5rem;
}

.heading span{
    color:white;
    text-transform: uppercase;
    
}

.Slider{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}


.Slider figure div{
    float: left;
    width: 20%;
}
.Slider figure img{
    width: 99%;
    height: 90vh;
    
    background-position: center;
    background-repeat: no-repeat;
    float: left;

}
.Slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    animation: animate 20s infinite;

}
@-webkit-keyframes animate
{
    0%{left:0%;}
    10%{left:0%;}
    12%{left:-100%;}
    22%{left:-100%;}
    24%{left:-200%;}
    34%{left:-200%;}
    36%{left:-300%;}
    46%{left:-300%;}
    48%{left:-400%;}
    58%{left:-400%;}
    60%{left:-300%;}
    70%{left:-300%;}
    72%{left:-200%;}
    82%{left:-200%;}
    84%{left:-100%;}
    94%{left:-100%;}
    96%{left:0%;}  

}


.Models .Cars-List{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap:5.5rem;
}

.Models .Cars-List .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.Models .Cars-List  img{
    height: 20rem;
}

.Models .Cars-List .box h3{
    color: #d3ad7f;
    font-size: 4rem;
    padding:3rem 3;
}

.Models .Cars-List :hover{
    color: #fff;
}

.Models .Cars-List .box:hover{
    background:rgb(66, 63, 63);
}

.Models .Cars-List .box:hover{
    color:var(--black);
}

h4{

    height: 5rem;
    color: #fff;
    font-size: 3rem;
    padding:5rem 3;  
 
 }

.footer{
    background:var(--black);
    text-align: center;
}

.footer .socialMedia{
    padding:1rem 0;
}

.footer .socialMedia a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .socialMedia a:hover{
    background-color: var(--main-color);
}

